{% extends 'layout.html' %}
{% block content %}
<style>
/* style.css file*/

.section {
	background-color: #ffffff;
	padding: 50px 30px;
	border: 1.5px solid #b2b2b2;
	border-radius: 0.25em;
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

#my-qr-reader {
	padding: 20px !important;
	border: 1.5px solid #b2b2b2 !important;
	border-radius: 8px;
}

#my-qr-reader img[alt="Info icon"] {
	display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
	width: 100px !important;
	height: 100px !important;
}

button {
	padding: 10px 20px;
	border: 1px solid #b2b2b2;
	outline: none;
	border-radius: 0.25em;
	color: white;
	font-size: 15px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 10px;
	background-color: #008000ad;
	transition: 0.3s background-color;
}

button:hover {
	background-color: #008000;
}

#html5-qrcode-anchor-scan-type-change {
	text-decoration: none !important;
	color: #1d9bf0;
}

video {
	width: 100% !important;
	border: 1px solid #b2b2b2 !important;
	border-radius: 0.25em;
}

</style>

<div class="container-fluid">
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">QR Scanner</a></li>
					</ol>
                </div>
	<div class="row">
              <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">


		<div class="section">
			<div id="my-qr-reader">
			</div>
		</div>

							</div>
						</div>
			  </div>
	</div>

</div>
	<script
		src="https://unpkg.com/html5-qrcode">
	</script>

	<script >
function domReady(fn) {
  if (
    document.readyState === "complete" ||
    document.readyState === "interactive"
  ) {
    setTimeout(fn, 1000);
  } else {
    document.addEventListener("DOMContentLoaded", fn);
  }
}

domReady(function () {
  // If found your QR code
  function onScanSuccess(decodeText, decodeResult) {
    // Alert the QR code text


    // Option 2: Open the URL (if it's a valid URL)
    openUrl(decodeText);
  }

  // Function to open URL in a new tab
  function openUrl(url) {
    const isUrl = /^(https?|ftp):\/\/[^\s/$.?#].[^\s]*$/i.test(url);
    if (isUrl) {
      window.open(url, "_blank");
      alert("Opening URL: " + url);
    }
  }

  let htmlscanner = new Html5QrcodeScanner(
    "my-qr-reader",
    { fps: 10, qrbox: 250, autostart: false }
  );
  htmlscanner.render(onScanSuccess);
});
	</script>
{% endblock %}