{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">


				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">App</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Report</a></li>
					</ol>
                </div>
    <div class="row">
        <div class="col-xl-12">
        </div>
    </div>
</div>
<!--    <ul>-->
<!--        {% for report in reported_images %}-->
<!--            <li>-->
<!--                <strong>User:</strong> {{ report.user.username }}<br>-->
<!--                <strong>Image:</strong> {{ report.image.image_path }}<br>-->
<!--              <strong>User to report</strong> {{ report.image.user.username }}<br>-->
<!--                <strong>Reason:</strong> {{ report.reason }}<br>-->
<!--                <strong>Timestamp:</strong> {{ report.timestamp }}-->
<!--            </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->
{% endblock %}
