{% extends 'layout.html' %}
{% block content %}
	   <div class="container-fluid">


				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">App</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Profile {{ viewed_user.username }}</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="profile card card-body px-3 pt-3 pb-0">
                            <div class="profile-head">
                                <div class="photo-content">
                                    <div class="cover-photo rounded"></div>
                                </div>
                                <div class="profile-info">
									<div class="profile-photo">

                                        {% if viewed_user.avatar %}
										<img src="{{ url_for('static', filename='uploads/'+viewed_user.avatar)  }}" class="img-fluid rounded-circle" style="width:150px;height:100px" alt="">
                                        {% else%}
                                        <img src="{{ url_for('static', filename='uploads/default_avatar.png')  }}" class="img-fluid rounded-circle" style="width:150px;height:100px" alt="">
                                        {% endif %}
									</div>
									<div class="profile-details">
										<div class="profile-name px-3 pt-2">
											<h4 class="text-primary mb-0">{{ viewed_user.username }}</h4>
											<p>Username</p>
										</div>
										<div class="profile-email px-2 pt-2">
											<h4 class="text-muted mb-0">{{ viewed_user.email }}</h4>
											<p>Email</p>
										</div>
                                        <div class="profile-email px-2 pt-2">
                                                    {% if 'user_id' in session and viewed_user.id != current_user.id %}
        {% if current_user.is_following(viewed_user) %}
            <form method="post" action="{{ url_for('unfollow', user_id=viewed_user.id) }}">
                <input type="submit" class="btn btn-primary mb-1 me-1" value="Unfollow">
            </form>
        {% else %}
            <form method="post" action="{{ url_for('follow', user_id=viewed_user.id) }}">
                <input type="submit"class="btn btn-primary mb-1 me-1" value="Follow">
            </form>
        {% endif %}
                                            <a class="btn btn-primary mb-1 me-1" href="{{ url_for('chat', partner_id=viewed_user.id) }}">Start Chat</a>
    {% endif %}


												</div>
										<div class="dropdown ms-auto">
											<a href="#" class="btn btn-primary light sharp" data-bs-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewbox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
											<ul class="dropdown-menu dropdown-menu-end">
												<li class="dropdown-item"><i class="fa fa-user-circle text-primary me-2"></i> View profile</li>
												<li class="dropdown-item"><i class="fa fa-users text-primary me-2"></i> Add to btn-close friends</li>
												<li class="dropdown-item"><i class="fa fa-plus text-primary me-2"></i> Add to group</li>
												<li class="dropdown-item"><i class="fa fa-ban text-primary me-2"></i> Block</li>
											</ul>
										</div>
<div class="text-center">
												<div class="row">
													<div class="col">
														<h3 class="m-b-0">{{ viewed_user.followers.count() }}</h3><span>Follower</span>
													</div>
													<div class="col">
														<h3 class="m-b-0">{{ viewed_user.following.count() }}</h3><span>Following</span>
													</div>
													<div class="col">
														<h3 class="m-b-0">45</h3><span>Reviews</span>
													</div>
												</div>

</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       <div class="row">
           {% for image in viewed_user.images %}
            <div class="col-xl-3 col-lg-6 col-sm-6">
                        <div class="card" style="height:auto">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{{ url_for('static', filename='uploads/' + image.image_path) }}" alt="" style="width:500px;">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
           {% endfor %}
       </div>

   </div>
<!--   <div class="container-fluid">-->


<!--				<div class="row page-titles">-->
<!--					<ol class="breadcrumb">-->
<!--						<li class="breadcrumb-item active"><a href="javascript:void(0)">App</a></li>-->
<!--						<li class="breadcrumb-item"><a href="javascript:void(0)">Profile {{ viewed_user.username }}</a></li>-->
<!--					</ol>-->
<!--                </div>-->
<!--    <h1>Profile of {{ viewed_user.username }}</h1>-->

<!--    &lt;!&ndash; Display other user details as needed &ndash;&gt;-->
<!--    <p>Email: {{ viewed_user.email }}</p>-->
<!--    <p>Avatar: {{ viewed_user.avatar }}</p>-->

<!--    &lt;!&ndash; Display the number of followers and following &ndash;&gt;-->
<!--    <p>Followers: {{ viewed_user.followers.count() }}</p>-->
<!--    <p>Following: {{ viewed_user.following.count() }}</p>-->

<!--    &lt;!&ndash; Display images uploaded by the viewed user &ndash;&gt;-->
<!--    <h2>Images uploaded by {{ viewed_user.username }}</h2>-->
<!--    {% for image in viewed_user.images %}-->
<!--        <div>-->
<!--            <img src="{{ url_for('static', filename='uploads/' + image.image_path) }}" alt="Image">-->
<!--            <p>{{ image.caption }}</p>-->
<!--            &lt;!&ndash; Add more details as needed &ndash;&gt;-->
<!--        </div>-->
<!--    {% endfor %}-->

<!--    {% if 'user_id' in session and viewed_user.id != current_user.id %}-->
<!--        {% if current_user.is_following(viewed_user) %}-->
<!--            <form method="post" action="{{ url_for('unfollow', user_id=viewed_user.id) }}">-->
<!--                <input type="submit" value="Unfollow">-->
<!--            </form>-->
<!--        {% else %}-->
<!--            <form method="post" action="{{ url_for('follow', user_id=viewed_user.id) }}">-->
<!--                <input type="submit" value="Follow">-->
<!--            </form>-->
<!--        {% endif %}-->
<!--    {% endif %}-->
<!--   </div>-->
{% endblock %}
